<div id='wrap'>
    <div id='external-events'>
        <h4>Members</h4>
        <div class='fc-event amy' data-title="Amy" data-color="rgb(151, 212, 224)">Amy</div>
        <div class='fc-event ss' data-title="SS" data-color="rgb(171, 219, 223)">SS</div>
        <div class='fc-event liz' data-title="Liz" data-color="rgb(235, 205, 213)">Liz</div>
        <div class='fc-event raphael' data-title="Raphael" data-color="rgb(239, 206, 197)">Raphael</div>
        <div class='fc-event hb' data-title="HB" data-color="rgb(236, 217, 176)">HB</div>
        <div class='fc-event dva' data-title="D.VA" data-color="rgb(209, 175, 148)">D.VA</div>
        <h4>Special days</h4>
        <div class='fc-event coupon' data-title="Coupon" data-color="#FFCD12">Coupon</div>
        <div class='fc-event holiday' data-title="Holiday" data-color="#DF4D4D">Holiday</div>
        <div class='fc-event etc' data-title="Etc" data-color="#53C14B">Etc</div>
    </div>
    <div id='calendar'></div>
</div>
<script>
$(function() {
    var colorMap = {
        'Amy': 'rgb(151, 212, 224)',
        'SS': 'rgb(171, 219, 223)',
        'Liz': 'rgb(235, 205, 213)',
        'Raphael': 'rgb(239, 206, 197)',
        'HB': 'rgb(236, 217, 176)',
        'D.VA': 'rgb(209, 175, 148)',
        'Coupon': '#FFCD12',
        'Holiday': '#DF4D4D',
        'Etc': '#53C14B'
    }
    var specificDays = ['20170703', '20171002'];
    var isDraggingOutside = function(x, y) {
        var external_events = $('#calendar');
        var offset = external_events.offset();
        offset.right = external_events.width() + offset.left;
        offset.bottom = external_events.height() + offset.top;
        return !(x >= offset.left && y >= offset.top && x <= offset.right && y <= offset .bottom);
    }
    $('#calendar').fullCalendar({
        locale: 'ko',
        validRange: {
            start: moment().startOf('year'),
            end: moment().endOf('year')
        },
        customButtons: {
            init: {
                text: '초기화',
                click: function() {
                    var date = $('#calendar').fullCalendar('getDate');
                    $.ajax({
                        type: 'post',
                        url: '/init',
                        data: { basicMonth: date.format('YYYYMM') },
                        dataType: 'json',
                        success: function() {
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                    });
                }
            }
        },
        header: {
            left:   'title',
            center: '',
            right:  'today init prev,next'
        },
        buttonText: {
            today: '오늘'
        },
        weekends: false,
        editable: true,
        droppable: true,
        dragRevertDuration: 0,
        showNonCurrentDates: false,
        drop: function(date, jsEvent, ui, resourceId) {
            var basicDate = date.format('YYYYMMDD');
            var title = $(this).data('title');
            $.ajax({
                type: 'post',
                url: title == 'Coupon' || title == 'Holiday' || title == 'Etc' ? '/save' : '/bulk',
                data: { basicDate: basicDate, memberId: title },
                dataType: 'json',
                success: function() {
                    $('#calendar').fullCalendar('refetchEvents');
                }
            });
        },
        eventDragStop: function(event, jsEvent) {
            if(isDraggingOutside(jsEvent.clientX, jsEvent.clientY)) {
                $('#calendar').fullCalendar('removeEvents', event.id);
                $.ajax({
                    type: 'post',
                    url: '/remove',
                    data: { coffeeId: event.id },
                    dataType: 'json',
                    success: function() {
                        $('#calendar').fullCalendar('refetchEvents');
                    }
                });
            }
        },
        eventAllow: function(dropInfo, draggedEvent) {
            if(draggedEvent.title == 'Coupon' || draggedEvent.title == 'Holiday' || draggedEvent.title == 'Etc') return false;
            var exist = $('#calendar').fullCalendar('clientEvents', function(clientEvent) {
                return dropInfo.start.isSame(clientEvent.start);
            })[0];
            if(exist.title == 'Coupon' || exist.title == 'Holiday' || exist.title == 'Etc') return false;
            return true;
        },
        eventDrop: function(event, delta, revertFunc) {
            $.ajax({
                type: 'post',
                url: '/move',
                data: { coffeeId: event.id, basicDate: event.start.format('YYYYMMDD'), memberId: event.title },
                dataType: 'json',
                success: function() {
                    $('#calendar').fullCalendar('refetchEvents');
                }
            });
        },
        events: function(start, end, timezone, callback) {
            $.ajax({
                url: '/list',
                data: { basicMonth: start.format('YYYYMM') },
                dataType: 'json',
                success: function(coffees) {
                    var events = [];
                    coffees.forEach(function(coffee) {
                        events.push({ id: coffee.coffeeId, title: coffee.memberId, coffee: coffee, start: moment(coffee.basicDate, 'YYYYMMDD'), allDay: true, backgroundColor: colorMap[coffee.memberId], borderColor: colorMap[coffee.memberId] });
                    });
                    callback(events);
                }
            });
        },
        eventClick: function(event, jsEvent, view) {
            if(event.title == 'Etc') {
                var desc = prompt('Please enter a desc', event.coffee.desc == null ? '' : event.coffee.desc);
                if(desc != null) {
                    $.ajax({
                        type: 'post',
                        url: '/desc',
                        data: { coffeeId: event.id, desc: desc },
                        dataType: 'json',
                        success: function() {
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                    });
                }
            }
        },
        eventRender: function(event, element) {
            if(event.coffee.comt != null) element.text(event.coffee.memberId + '(' + event.coffee.comt + ')');
            if(event.coffee.desc != null) {
                element.qtip({
                    style: {
                        classes: 'qtip-light'
                    },
                    content: {
                        text: event.coffee.desc
                    },
                    position: {
                        target: 'mouse',
                        my: 'bottom left',
                    }
                });
            }
        }
    });
    $('#external-events .fc-event').each(function() {
        var title = $(this).data('title');
        $(this).draggable({
            zIndex: 999,
            revert: true,
            revertDuration: 0
        });
    });
})
</script>