body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    float: right;
    width: 900px;
}

.raphael {
    background-color: rgb(239, 206, 197);
    border: 1px solid rgb(239, 206, 197);
}

.liz {
    background-color: rgb(235, 205, 213);
    border: 1px solid rgb(235, 205, 213);
}

.ss {
    background-color: rgb(171, 219, 223);
    border: 1px solid rgb(171, 219, 223);
}

.dva {
    background-color: rgb(209, 175, 148);
    border: 1px solid rgb(209, 175, 148);
}

.hb {
    background-color: rgb(236, 217, 176);
    border: 1px solid rgb(236, 217, 176);
}

.amy {
    background-color: rgb(151, 212, 224);
    border: 1px solid rgb(151, 212, 224);
}

.coupon {
    background-color: #FFCD12;
    border: 1px solid #FFCD12;
}

.holiday {
    background-color: #DF4D4D;
    border: 1px solid #DF4D4D;
}

.etc {
    background-color: #53C14B;
    border: 1px solid #53C14B;
}